<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    <title>File Your Finding</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-"
          crossorigin="anonymous">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!--<![endif]-->


    <!--[if lte IE 8]>
            <link rel="stylesheet" href="{{url_for('static', filename='css/layouts/blog-old-ie.css')}}">
        <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/blog.css') }}">
    <!--<![endif]-->
</head>
<body>

<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title">File Your Finding</h1>
            <h2 class="brand-tagline">Explain and send us your findings through this form and they will be shared with everyone</h2>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <!-- A single blog post -->
                <section class="post">
                    <header class="post-header">


                        <h2 class="post-title">File a Finding</h2>

                        <p class="post-meta">
                            By <a href="http://er.cs.ucla.edu" class="post-author">ER Lab</a>
                        </p>
                    </header>


                    <div class="post-description">
                        <form action="" method="post" novalidate>
                            {{ form.hidden_tag() }}
                            <p>
                                {{ form.email.label }}<br>
                                {{ form.email() }}<br>
                                {% for error in form.email.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.finding_title.label }}<br>
                                {{ form.finding_title() }}<br>
                                {% for error in form.finding_title.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.explanation.label }}<br>
                                {{ form.explanation() }}<br>
                                {% for error in form.explanation.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.reproduce_instructions.label }}<br>
                                {{ form.reproduce_instructions() }}<br>
                                {% for error in form.reproduce_instructions.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>{{ form.submit() }}</p>
                        </form>

                    </div>
                </section>
            </div>


        </div>
    </div>
</div>


</body>
</html>