<!DOCTYPE html>
<html lang="en">
<head>
    <title>OLIVIA Region-Group Comparison</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/form/icons/favicon.ico')}}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='fonts/form/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/animate/animate.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/select2/select2.min.css')}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/form/util.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/form/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/blog.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/grapher.css') }}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v4.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <!--===============================================================================================-->
</head>
<body>

<div class="bg-contact2" style="background-image: url('{{ url_for('static', filename='images/form/olives.jpg') }}');">
    <div class="container-contact2">
        <div class="wrap-contact2" style="width: 1500px">
<!--            <form class="contact2-form validate-form">-->
					<span class="contact2-form-title">
						Region Group Comparison
					</span>

                <div>
                    <div>
                        <p>
                            {% if not feature == '' %}
                                {#                                    <img class="viscenter" src="{{ url_for('static', filename=output) }}" width="80%"#}
                                {#                                         height="80%"/>#}
                                <div>
                                <p><b>Histogram of Feature Values</b></p>
                                <p>X-Axis: Values of <i>{{ feature_description }}</i></p>
                                <p>Y-Axis: Record Count</p>
                                </div>
                                <div style="min-width: 1010px; min-height: 804px;">
                                    <svg id="visual" width="1200" height="800" style="width: 1200px; background: #fff;stop-color: white; background-color: white; margin: 20px;"/>
                                </div>

                                <div>Interesting result? <a href="{{ url_for('contact.send_finding') }}">Share it with everyone!</a></div>

                                {#                                <div><button class="downloadButton" onclick="window.location.href = '{{ url_for('static', filename=download_link) }}';"><i class="fa fa-download"></i>Data</button></div>#}

                            {% else %}
                                <p class="descriptionEr">Please click plot to continue.</p>
                            {% endif %}
                        </p>
                    </div>
                    <div class="post-description">
                        <form action="" method="post" id="submission_form" onsubmit="$('.modal').show();" novalidate>
                            {{ form.hidden_tag() }}
                            <p>
                                {{ form.var.label }}<br>
                                {{ form.var() }}<br>
                                {% for error in form.var.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.state_filter1.label }}<br>
                                <div class="wrap-input2 validate-input" data-validate="Text is required">
                                    {{ form.state_filter1(class_="input2") }}<span class="focus-input2"
                                                                                data-placeholder=""></span>
                                </div>

                                <br>
                                {% for error in form.state_filter1.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.county_filter1.label }}<br>
                                <div class="wrap-input2 validate-input" data-validate="Text is required">
                                    {{ form.county_filter1(class_="input2") }}<span class="focus-input2"
                                                                                data-placeholder=""></span>
                                </div>

                                <br>
                                {% for error in form.county_filter1.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.start_date1.label }}<br>
                            <div class="wrap-input2 validate-input" data-validate="Message is required">
                                {{ form.start_date1() }}<br>
                        <span class="focus-input2" data-placeholder=""></span></div>
                                {% for error in form.start_date1.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.end_date1.label }}<br>
                            <div class="wrap-input2 validate-input" data-validate="Message is required">
                                {{ form.end_date1() }}<br>
                        <span class="focus-input2" data-placeholder=""></span></div>
                                {% for error in form.end_date1.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.state_filter2.label }}<br>
                                <div class="wrap-input2 validate-input" data-validate="Text is required">
                                    {{ form.state_filter2(class_="input2") }}<span class="focus-input2"
                                                                                data-placeholder=""></span>
                                </div>

                                <br>
                                {% for error in form.state_filter2.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.county_filter2.label }}<br>
                                <div class="wrap-input2 validate-input" data-validate="Text is required">
                                    {{ form.county_filter2(class_="input2") }}<span class="focus-input2"
                                                                                data-placeholder=""></span>
                                </div>

                                <br>
                                {% for error in form.county_filter2.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.start_date2.label }}<br>
                            <div class="wrap-input2 validate-input" data-validate="Message is required">
                                {{ form.start_date2() }}<br>
                        <span class="focus-input2" data-placeholder=""></span></div>
                                {% for error in form.start_date2.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.end_date2.label }}<br>
                            <div class="wrap-input2 validate-input" data-validate="Message is required">
                                {{ form.end_date2() }}<br>
                        <span class="focus-input2" data-placeholder=""></span></div>
                                {% for error in form.end_date2.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.bin_count.label }}<br>
                                {{ form.bin_count() }}<br>
                                {% for error in form.bin_count.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.prepare_json.label }}<br>
                                {{ form.prepare_json() }}<br>
                                {% for error in form.prepare_json.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>{{ form.submit(type="submit", class="contact2-form-btn", style="height: 10px, width: 10px") }}</p>
                        </form>
                    <p>
    By <a href="http://er.cs.ucla.edu" class="post-author">ER Lab</a>
                    </p>
                    </div>
                    <div class="modal">Generating the results, Please wait...</div>
                </div>
            {% if not data == {} %}
<!--        <div class="wrap-contact2">-->
		<div class="radarChart"></div>
<!--            </div>-->
		{% endif %}
<!--            </form>-->
        </div>



    </div>

    <script>
        data = {{comparison_data | safe}};

        var margin = {top: 10, right: 10, bottom: 50, left: 50},
            width= 700 - margin.left - margin.right,
            height= 500 - margin.top - margin.bottom;

        var feature = "{{ feature | safe }}";

        var number_of_bins = {{ bin_count | safe }};
        function update(data){
            var svg = d3.select("#visual")
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                var mean_feature_value = d3.mean(data, function(d) { return d[feature]; });
                var std_feature_value = d3.deviation(data, function(d) { return d[feature]; });

                var x = d3.scaleLinear()
                    .domain([mean_feature_value - 2 * std_feature_value, mean_feature_value + 2 * std_feature_value])
                    .range([0, width]);

                svg.append("g")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisBottom(x));

                var histogram = d3.histogram()
                    .value(function(d) {return +d[feature]; })
                    .domain(x.domain())
                    .thresholds(x.ticks(number_of_bins));

                var bins1 = histogram(data.filter(
                    function(d){
                        return d["type"] === "region_group1"
                    }
                ));

                var bins2 = histogram(data.filter(
                    function(d){
                        return d["type"] === "region_group2"
                    }
                ));

                var y = d3.scaleLinear()
                    .range([height, 0]);
                y.domain([0, d3.max(bins1, function(d){return d.length;})]);
                svg.append("g").call(d3.axisLeft(y));

                svg.selectAll("rect")
                    .data(bins1).enter().append("rect").attr("x", 1)
                    .attr("transform", function(d) { return "translate(" + x(d.x0) + "," + y(d.length) + ")"; })
                    .attr("width", function(d){return x(d.x1) - x(d.x0) ;})
                    .attr("height", function(d){ return height - y(d.length)})
                    .style("fill", "#69b3a2")
                    .style("opacity", 0.6);

                svg.selectAll("rect2")
                    .data(bins2).enter().append("rect").attr("x", 1)
                    .attr("transform", function(d) { return "translate(" + x(d.x0) + "," + y(d.length) + ")"; })
                    .attr("width", function(d){return x(d.x1) - x(d.x0) ;})
                    .attr("height", function(d){ return height - y(d.length)})
                    .style("fill", "#af0000")
                    .style("opacity", 0.6);

                svg.append("circle").attr("cx",10).attr("cy",30).attr("r", 6).style("fill", "#69b3a2")
                svg.append("circle").attr("cx",10).attr("cy",60).attr("r", 6).style("fill", "#af0000")
                svg.append("text").attr("x", 50).attr("y", 30).text("Group 1").style("font-size", "15px").attr("alignment-baseline","middle")
                svg.append("text").attr("x", 50).attr("y", 60).text("Group 2").style("font-size", "15px").attr("alignment-baseline","middle")
                svg.append("text").attr("class", "x label").attr("text-anchor", "end").attr("x", width).attr("y", height + 40).text("{{ feature_description }}");
                svg.append("text").attr("class", "y label").attr("text-anchor", "end").attr("y", - 40).attr("dy", ".75em").attr("transform", "rotate(-90)").text("Record Count");

            }


        update(data);

        function change_number_of_bins(input_data){
            number_of_bins = input_data;
            d3.selectAll("svg").remove();
            d3.csv("{{url_for('static', filename='warehouse/cache/cache.csv')}}", update);
        }

        // Listen to the button -> update if user change it
          d3.select("#nBin").on("input", function() {
            change_number_of_bins(+this.value);
          });

    </script>
</div>

<!--===============================================================================================-->
<script src="{{url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
<script src="{{url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
<script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
<script src="{{url_for('static', filename='vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
<script src="{{url_for('static', filename='js/forms/main.js')}}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
